<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <a href="/signup">Signup</a>
      {{#unless theUser}}
      <a href="/login">Login</a>
      {{/unless}}
      <a href="/authors">See Authors</a>
      <a href="/authors/new">Create Author</a>
      <a href="/books/new">Create Book</a>
      <a href="/books">See Books</a>

      {{#if theUser}}
      <a href="/update-pass">Update Password</a>
      <form action="/logout" method="post">
         <button>Logout</button>
      </form>
      {{/if}}


      {{#if theUser}}
      <h3>Welcome, {{theUser.username}}</h3>
      {{/if}}
      

      {{#if errorMessage}}
      <div>
      {{errorMessage}}
      </div>
      {{/if}}


      {{#if successMessage}}
      <div>
      {{successMessage}}
      </div>
      {{/if}}


      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>